<html>
<head>
	<title>{{ .title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
	<script>
		var blocked = true;
		function SendQuery(txt){
			if (txt.length > 5) {
				blocked = false;
				$.ajax({
					method: "POST",
					url: "/query",
					data: { query: txt },
					success: function(response){
						if (response.status) { $('.result').text(JSON.stringify(response.values)); }
						else { $('.result').text(JSON.stringify(response.errors)); }
					}
				});
			}
		}
	</script>
</head>
<body>
	<div class="container">
		<br />
		<br />
		<div class="row">
			<div class="col-md-12">
				<div class="input-group mb-12">
					<input type="text" class="form-control inp-text" placeholder="Address" aria-label="Address" aria-describedby="basic-addon2">
					<div class="btn btn-primary" onclick="SendQuery($('.inp-text').val())" >Find</div>
				</div>
				<div class="input-group mb-12">
					<small>More 5 symbols</small>
				</div>
			</div>
			<div class="col-md-12">
				<p class="result"></p>
			</div>
		</div>
	</div>
</body>
</html>